In [ ]:
# Sneha Dubey & Bastiaan Van Buiten
# Dr. Ghosh
# CSCI 183
# 22 January 2024
# Homework 1 Code

In [1]:
# PYTHON BASICS SECTION:
import pandas as pd

In [2]:
# Q1: Write a Python program to print the number and sum of prime numbers which are less than or
#     equal to a given number. [5 points]

In [3]:
# Q2: Write a Python program to find the largest product of the pair of adjacent elements from a given
#     list of integers. [5 points]
def basics_Q2(inp=[]):
    if (len(inp) == 0 or len(inp) == 1):
        return None;
    i = 1
    j = 2
    largest = inp[0] * inp[1]
    while (i < len(inp) - 1):
        if (largest < inp[i] * inp[j]):
            largest = inp[i] * inp[j]
        i+=1
        j+=1
    return largest

#Example
print(basics_Q2([1,2,3,4]))

12

In [4]:
# Q3: Given a password, we have to categorize it as valid or invalid. There are some checks that need
#     to be met to be a valid password. For a invalid password, we need to return the reason for it to be invalid.
#     [10 points]

    # Conditions for a valid password are:

    # Should have at least one number.
    # Should have at least one uppercase and one lowercase character.
    # Should have at least one special symbol.
    # Should be between 6 to 20 characters long.

In [5]:
# Q4: Given a password, we have to categorize it as a strong or weak one. There are some checks that
#     need to be met to be a strong password. For a weak password, we need to return the reason for it to be weak. [10 points]

    # Conditions to be fulfilled for strong password are:

    # Minimum 9 characters and maximum 20 characters.
    # Cannot be a newline or a space
    # There should not be three or more repeating characters in a row.
    # The same string pattern(minimum of two character length) should not be repeated.
def basics_Q4(passwd=""):
    output = ""
    weak = False
    repetition = False
    substrings = []
    if (len(passwd) < 9 or len(passwd) > 20):
        weak = True
        output += "Your password is weak for the following reason(s):\n"
        output += "-Must have minimum 9 characters and maximum 20 characters.\n"
    if (" " in passwd or "\n" in passwd):
        if (weak == False):
            weak = True
            output += "Your password is weak for the following reason(s):\n"
        output += "-There cannot be a newline or a space.\n"
    for i in range(len(passwd)-2):
        if (passwd[i] == passwd[i+1] and passwd[i] == passwd[i+2]):
            if (weak == False):
                weak = True
                output += "Your password is weak for the following reason(s):\n"
            output += "-There should not be three or more repeating characters in a row.\n"
            break
    for i in range(len(passwd)-1):
        j = i+2
        while (j < len(passwd)-1):
            if (passwd.count(passwd[i:j]) > 1):
                if (weak == False):
                    weak = True
                    output += "Your password is weak for the following reason(s):\n"
                output += "-The same string pattern(minimum of two character length) should not be repeated. (\"" + passwd[i:j] + "\" was repeated.)"
                repetition = True
                break
            else: 
                j+=1
        if (repetition):
            break
    if (output == ""):
        output += "Your password is strong."
    return output

#Example
print(basics_Q4("ls 000 ls"))

Your password is weak for the following reason(s):
-There cannot be a newline or a space.
-There should not be three or more repeating characters in a row.
-The same string pattern(minimum of two character length) should not be repeated. ("ls" was repeated.)

In [6]:
#PYTHON FOR DATA SCIENCE SECTION:

In [7]:
# Q1. Write Python code to read in all the columns (as a DataFrame) of the file cities.csv 
# Download cities.csv. Print the content of the columns and also the shape of the dataframe [4 Points] 
df = pd.read_csv('cities.csv')
print(df.shape)
df.head()

(128, 10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI

In [8]:
# Q2. Create a subset of the DataFrame from Q1 in the following way: [6 points]

# DataFrame Subset 1: Contains columns LatD,LonD,LatM,LonM and all the rows of the original DataFrame 
df_subset_one = df[['LatD', ' \"LatM\"', ' \"LonD\"', ' \"LonM\"']]
print("Subset 1:")
print(df_subset_one,end='\n\n')

# DataFrame Subset 2: Contains all columns but only first 100 rows of the original DataFrame 
df_subset_two = df[0:100]
print("Subset 2:")
print(df_subset_two, end='\n\n')

# DataFrame Subset 3: Contains 2nd, 3rd and 4th column of the original DataFrame and first 10 rows 
df_subset_three = df.iloc[0:10, 1:4]
print("Subset 3:")
print(df_subset_three)
print(df_subset_three.shape)

Subset 1:
     LatD   "LatM"   "LonD"   "LonM"
0      41        5       80       39
1      42       52       97       23
2      46       35      120       30
3      42       16       71       48
4      43       37       89       46
..    ...      ...      ...      ...
123    39       31      119       48
124    50       25      104       39
125    40       10      122       14
126    40       19       75       55
127    41        9       81       14

[128 rows x 4 columns]

Subset 2:
    LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0     41        5       59   "N"       80       39        0   "W"
1     42       52       48   "N"       97       23       23   "W"
2     46       35       59   "N"      120       30       36   "W"
3     42       16       12   "N"       71       48        0   "W"
4     43       37       48   "N"       89       46       11   "W"
..   ...      ...      ...   ...      ...      ...      ...   ...
95    31       27       35   "N"      100       26       24   "W"
96    40       45       35   "N"      111       52       47   "W"
97    38       22       11   "N"       75       35       59   "W"
98    36       40       11   "N"      121       39        0   "W"
99    38       50       24   "N"       97       36       36   "W"

                "City"  "State"
0         "Youngstown"       OH
1            "Yankton"       SD
2             "Yakima"       WA
3          "Worcester"       MA
4    "Wisconsin Dells"       WI
..                 ...      ...
95        "San Angelo"       TX
96    "Salt Lake City"       UT
97         "Salisbury"       MD
98           "Salinas"       CA
99            "Salina"       KS

[100 rows x 10 columns]

Subset 3:
    "LatM"   "LatS"  "NS"
0        5       59   "N"
1       52       48   "N"
2       35       59   "N"
3       16       12   "N"
4       37       48   "N"
5        5       59   "N"
6       52       48   "N"
7       11       23   "N"
8       14       24   "N"
9       45        0   "N"
(10, 3)

In [9]:
# Q3. Write a Python code to read specific columns (LatD,LonD and City) and (LatM, LonM and State) of a CSV file 
# (cities.csv Download cities.csv) and print the content of the columns. Also print the 'type' of data in each of 
# the columns  [5 points]

In [10]:
# Q4. Write a Python code to write a Python list of lists (list_of_list.pkl) to a csv file. 
# After writing the CSV file, read the CSV file and display the content. [10 points]
import pickle
import csv

with open("list_of_list.pkl", "rb") as fp:   
   b = pickle.load(fp)

with open('Q4.csv', 'w') as file:
    writer = csv.writer(file)
    for item in b:
        writer.writerow(item)

df = pd.read_csv('Q4.csv')
print(df)

                competitorname chocolate fruity caramel peanutyalmondy nougat  \
0                  Mr Good Bar         y      n       n              y      n
1   Chewey Lemonhead Fruit Mix         n      y       n              n      n
2                    Starburst         n      y       n              n      n
3                   Gobstopper         n      y       n              n      n
4            Haribo Gold Bears         n      y       n              n      n
..                         ...       ...    ...     ...            ...    ...
80          Caramel Apple Pops         n      y       y              n      n
81                     Fun Dip         n      y       n              n      n
82                       Runts         n      y       n              n      n
83                        Dots         n      y       n              n      n
84                    Snickers         y      n       y              y      y

   crispedricewafer hard bar pluribus  sugarpercent  pricepercent  winpercent
0                 n    n   y        n         0.313         0.918   54.526451
1                 n    n   n        y         0.732         0.511   36.017628
2                 n    n   n        y         0.151         0.220   67.037628
3                 n    y   n        y         0.906         0.453   46.783348
4                 n    n   n        y         0.465         0.465   57.119740
..              ...  ...  ..      ...           ...           ...         ...
80                n    n   n        n         0.604         0.325   34.517681
81                n    y   n        n         0.732         0.325   39.185505
82                n    y   n        y         0.872         0.279   42.849144
83                n    n   n        y         0.732         0.511   42.272076
84                n    n   y        n         0.546         0.651   76.673782

[85 rows x 13 columns]

In [11]:
# Q5. Write a Python program to convert a Python DataFrame to a dictionary object.  [5 points]

In [12]:
# Q6. You are given a text file containing a string of words and you need to write a function to find words 
# with a certain number of characters in the given text file. The length of the word will be the parameter of 
# the function and will be given by the user. Remove duplicate words from the final list. [HINT - Take a look 
# at split(), lower(), open() and input() functions in python] 
def ds_Q6():
    words = []
    print("Enter a word length: ")
    length = input()
    output = []
    try:
        with open('Data Science.txt', 'r') as file:
            load = file.readlines()
    except:
        print("Could not load the file with filename: " + fname + ".")
        return
    for line in load:
        words.append(line.lower().replace('.','').replace('?','').replace('!','').replace('\"','')
                     .replace(',','').replace('\n', '').replace('(', '').replace(')', '').split(' '))
    for list in words:
        for word in list:
            word_len = len(word)
            if ("\'" in word):
                word_len-=1
            if (word_len == int(length) and word not in output):
                output.append(word)
    return output

print(ds_Q6())

Enter a word length:

 10

['scientific', 'algorithms', 'structural', 'statistics', 'understand', 'techniques', 'everything', 'technology']

In [13]:
#REGULAR EXPRESSIONS SECTION
import re

In [14]:
# Q1. Write a Python program that matches a word containing 'z', not at the start or end of the word. [5 points]

In [15]:
# Q2. You are given a list of courses of a student: [5 points]

# CSCI 10
# MATH 9
# MATH 11
# CSCI 60
# CSCI 182

# Write a python program that helps you to find the CSCI courses that the student has taken. Need to find the code and number. 
def regexe_Q2():
    class_sentence = ""
    class_list = ["CSCI 10", "MATH 9", "MATH 11", "CSCI 60", "CSCI 182"]
    for c in class_list:
        class_sentence += c + " "
    matches = re.findall("CSCI\s\d{2,3}", class_sentence)
    return matches

print(regexe_Q2())

['CSCI 10', 'CSCI 60', 'CSCI 182']